.u-section-1 {
  background-image: url("images/cute-kitten-bed.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 765px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 146px 0 0 612px;
}

.u-section-1 .u-text-2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  margin: 22px 0 60px 642px;
}

.u-section-2 {
  background-image: none;
  min-height: 1200px;
}

.u-section-2 .u-text-1 {
  font-size: 3.61111rem;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.27778rem;
  width: 778px;
  margin: 16px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 328px;
  margin-top: 273px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -577px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 557px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 554px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 197px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 331px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 570px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.8;
  margin-bottom: 0;
}

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 865px;
}

.u-section-3 .u-image-1 {
  width: 220px;
  height: 220px;
  background-image: url("images/jhjh.jpg");
  background-position: 50% 50%;
  margin: 90px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  width: 689px;
  margin: 46px auto 0;
}

.u-section-3 .u-text-2 {
  width: 589px;
  margin: 46px auto 0;
}

.u-section-3 .u-form-1 {
  height: 322px;
  width: 570px;
  margin: 56px auto 59px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  width: 100%;
  padding: 10px 31px 10px 29px;
}
