.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 709px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.9);
  width: 356px;
  height: 328px;
  margin: 50px auto 0 214px;
}

.u-section-1 .u-image-2 {
  filter: brightness(0.9);
  width: 248px;
  height: 229px;
  margin: -328px 275px 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  width: 307px;
  line-height: 1;
  font-size: 1.5rem;
  margin: 146px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 500;
  width: 400px;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 21px;
  min-height: 16px;
  width: 147px;
  min-width: 132px;
  margin: 69px auto 40px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-2 {
  background-image: none;
  min-height: 539px;
}

.u-section-2 .u-shape-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  min-height: 377px;
  width: 965px;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: -215px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-2 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-2 .u-form-1 {
  height: 220px;
  margin: -14px 0 0 403px;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: -190px 545px 70px 0;
}


