.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 953px;
}

.u-section-1 .u-text-1 {
  width: 710px;
  margin: 63px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  font-size: 1.5rem;
  margin: 17px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  letter-spacing: 0;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  line-height: 1.2;
}

.u-section-1 .u-table-cell-23 {
  line-height: 1.2;
}

.u-section-1 .u-table-cell-24 {
  line-height: 1.2;
}

.u-section-1 .u-table-cell-26 {
  line-height: 1.2;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  line-height: 1.2;
}

.u-section-1 .u-btn-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-table-cell-28 {
  line-height: 1.2;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.u-block-8cd1-35 {
  background-image: none;
}
